*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --colorAnaranjado: orangered;
}

.home li {
    list-style: none;
    display: inline; /* estructura al lado */
    font-weight: bold; /* los agranda */
}

.home a{
    text-decoration: none;
    color: white;
    text-transform: uppercase; /* mayusculas */
}

body{
    background-image: url("./craftsy-blended/img/bg-2.png");
}


.home{
    max-width: 1140px;
    width: 100%;
    margin-top: 100px;

}

/*HEADER*/

.home header{
    background-color: orangered;
    max-width: 1140px;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
}

.home header img{
    float: left;
}

.home header ul.lista1{
    float: left;
    padding: 0px;
}

.home header li{
    padding: 10px;
}

.home header ul.lista2{
    float: right;
    padding: 10px;
}



/* FINALIZA HEADER */

/* MAIN */
.home main{
    float: left;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
}
 /* PRODUCTOS */
.home main section{
    width: 100%;
    margin: 10px;
    float: left;
    position: relative;
}

.home main section img.icon{
    width: 60px;
    position:absolute;
    right: 20px;
}

.home main section h2{
    margin: 15px 0;

}

.home main section p{
    margin-bottom: 15px 0;
}

.home main section button{
    background-color: orangered;
    border:orangered;
}
.home main section button a{
    font-weight: bold;
    padding: 10px;
    display: inline-block;
}


.home main section img{
    width: 100%;
}



/* LATERAL */
.home aside{
    width: 100%;
    margin-top: 10px;
    overflow: hidden;

}

.home aside section h2{
    background-color: white;
    text-transform: capitalize;
    padding: 10px;
    border: 1px solid skyblue;
    margin-bottom: 10px;
}

/* articulos */

.home aside section{
    margin-bottom: 30px;
}
.home aside section article{
    background-color: white;
    border: 1px solid skyblue;
    padding: 10px;
    position: relative;
}

.home aside section article img.icon{
    position:absolute;
    width: 50px;
    left: 70px;
    top: 10px;
}


.home aside section article a{
    color: black;
    text-transform: none;
    float: right;
    width: 160px;
    padding: 20px 10px;
}

/* PUBLICIDAD */

.home aside section div#publicidad{
    background-color: white;
    border: 1px solid skyblue;
}

.home aside section div#publicidad img{
    width: 100%;
    padding: 5px;
}


@media(min-width:426px){
    .home{
        margin-top: 100px;
    }

    .home header ul.lista1{
        display: inline;
    }

    .home header ul.listacelu{
        display: none;
    }

    .home main section{
        max-width: 46%;
    }
    .home aside{
        width: 50%;
    }

}

@media(min-width:769){
    .home main{
        width: 800px;
    }

    .home main section{
        width: 50%;
    }

    .home aside{
        width: 320px;
    }
}